<h1>Welcome to Secrets</h1>
<h2>Login</h2>

<form action="/sessions" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Email: <input type="text" name="email" value=""></p>
    <p>Password: <input type="text" name="password" value=""></p>
    <input type="submit" name="" value="Login">
</form>
<br>
<p><a href="/users/new">Register New Account</a></p>
