<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Page</title>
  </head>
  <body>
    <h2>Show!</h2>
    <h2>Name: <%= animal.name %></h2>
    <h3>Age: <%= animal.age %></h3>
    <h3>Date: <%= animal.date %></h3>
    <a href="/">Home</a>
    <a href="/<%= animal._id %>/edit">Edit</a>
  </body>
</html>
