<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses Delete Page</title>
  </head>
  <body>

      <h1>Are you sure you want to delete the following courses?</h1>
      <p>Name: {{ remv.name }}</p>
      <p>Description: {{ remv.description }}</p>
      <form action="/revert" method="post"> <p>
          {% csrf_token %}
          <input type="submit" name="revert" value="No">
      </form>
          {% csrf_token %}
      <form action="/destroy/{{ remv.id }}" method="post">
        {% csrf_token %}
          <input type="submit" name="yes" value="Yes! I want to delete this">
      </form>

  </body>
</html>
