<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books Home Main Page</title>
    <style>
    body{
      padding: 50px;
    }
    fieldset{
      width: 300px;
    }
    </style>
  </head>
  <body>

    <h1>Welcome, {{user.name}}!</h1>
    <a href="{% url 'books:add' %}">Add Book and Review</a><br><br>
    <a href="{% url 'login:logout' %}">Logout</a> <br><br>

    <fieldset>
      <legend>Recent Book Reviews:</legend>
        {% for review in reviews %}
          <p><a href="{% url 'books:displayRev' review.book.id %}">{{review.book.title}}</p>
          <p>Rating: {{review.rating}}</p>
          <p><a href="{% url 'books:userPage' review.user.id %}">Submitted by: {{review.user.name}}</p>
          <p>{{review.content}}</p>
          <p>{{review.created_at}}</p>

          <hr>
        {% endfor %}
    </fieldset>
    <br>

    <br>
    <fieldset>
      <legend>Other Books with Reviews:</legend>
        {% for review in otherRevs %}
        <p><a href="{% url 'books:displayRev' review.book.id %}">{{review.book.title}}</a></p>
        {% endfor %}
    </fieldset>

  </body>
</html>
