<!DOCTYPE html>
<html>
<head>
	<title>Belt Exam TravelPlansApp</title>
</head>
<body>
	<div style="width: 800px; margin: auto;">

    <a href="{% url 'buddy:logout' %}">Logout</a>
    <br>
    <br>

		<h1>Your Trip Schedules:</h1>
		<table style="border: 2px solid black; width: inherit; text-align: center;">
			<tr>
				<th>Destination</th>
				<th>Travel Start Date</th>
				<th>Travel End Date</th>
				<th>Plan/Description</th>
			</tr>
			{% for item in trips %}
				<tr>
					<td> <a href="{% url 'plans:showTripPage' id=item.id %}">{{item.destination}}</a> </td>
					<td>{{item.travelStart}}</td>
					<td>{{item.travelEnd}}</td>
          <td>{{item.description}}</td>
				</tr>
			{% endfor %}
		</table>

    <h1>Other User's Travel Plans</h1>

    <table style="border: 2px solid black; width: inherit; text-align: center;">
			<tr>
        <th>Name</th>
				<th>Destination</th>
				<th>Travel Start Date</th>
				<th>Travel End Date</th>
				<th>Do You Want to Join?</th>
			</tr>

			{% for item in plans %}
				<tr>
						{% for i in users %}
						{% if i.id == item.planned_user_id %}
					<td>{{i.name}}</td>
						{% endif %}
						{% endfor %}
					<td>{{item.destination}}</td>
					<td>{{item.travelStart}}</td>
					<td>{{item.travelEnd}}</td>
          <td> <a href="{% url 'plans:joinTrip' id=item.id %}">Join</a> </td>
				</tr>
			{% endfor %}
		</table>

    <br>
    <br>

    <a href="{% url 'plans:addTrip' %}">Add Travel Plan</a>

	</div>
</body>
</html>
