<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Information Page</title>
  </head>
  <body>

    <p>User Alias:  add jinja here for alias name</p>
    <p>Name: add jinja here for name</p>
    <p>Email: add jinja here for email</p>
    <p>Total Reviews: add jinja for total count on how many reviews</p>

    <p>Posted Reviews on the following books:</p>
    <p>add links here for the user posted book</p>
    <p>add links here for the user posted book</p>
    <p>add links here for the user posted book</p>
    <p>add links here for the user posted book</p>
    <p>add links here for the user posted book</p>

    <p>add link here for logout</p>
    <p>add link here for add book and review page</p>
    <p>add back to home page link here</p>
    

  </body>
</html>
