<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <style>
        body{
          padding: 150px;
        }
      </style>
  </head>
  <body>
    <a href="{% url 'quotes:qindex' %}">Home</a> <br><br>
    <a href="{% url 'loginReg:index' %}">Logout</a>

    <ul>

    <p>Posted by: {{name.name}} </p>

    {% for y in count %}
    <p>Count: {{y.num_quotes}} </p>
    {% endfor %}

      {% for z in all_quotes %}
      <li> {{z.author_of_quote}}: {{z.quote_content}} </li>
      {% endfor %}

    </ul>


  </body>
</html>
