<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo Redux</title>
  </head>
  <body>

  <h1>Welcome to Quoting Dojo</h1>
  <form action="/quotes" method="post">
    <p>Your Name: <input type="text" name="name" value="" required></p>
    <p>Your Quote: <textarea name="quote" rows="8" cols="80" required></textarea></p>
    <input type="submit" name="" value="Add my quote!">
  </form>
  <br>

  <button type="button" name="button"> <a style="text-decoration: none; color: black;" href="/quotes">Skip to quotes!</a> </button>

  </body>
</html>
