<form class="" action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <!-- <input type="text"   name="name" value=""> -->
  <input type="text" id="Email"  name="Email">
  <input type="password" id="Password"  name="Password">
  <!-- <input type="password"   name=""> -->
  <input type="submit" name="Log In" value="Log In">
</form>
