<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Page </title>
  </head>
  <body>
    <h3>Submitted Information</h3>
    <fieldset>
        <h4>Name:  </h4>
        <h4>Dojo Location:  </h4>
        <h4>Favorite Language:  </h4>
        <h4>Comment:  </h4>
    </fieldset>

    <button> <a href="#"></a> </button>
  </body>
</html>
