<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Registration</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="main">

        <div class="myform1">
          <form class="" action="/register" method="post">
            <h3>Register New Account</h3>
            <p>First Name: <input type="text" name="first_name" value=""></p>
            <p>Last Name: <input type="text" name="last_name" value=""></p>
            <p>Email: <input type="text" name="email" value=""></p>
            <p>Password: <input type="password" name="password" value=""></p>
            <p>Confirm Password: <input type="password" name="cpassword" value=""></p>
            <p><input type="submit" name="" value="Register"></p>
          </form>
        </div>

        <div class="myform2">
          <form class="" action="/login" method="post">
            <p>Email: <input type="text" name="email" value=""></p>
            <p>Password: <input type="password" name="password" value=""></p>
            <p><input type="submit" name="" value="Login"></p>
          </form>
        </div>

        
      </div>
    </div>
  </body>
</html>
