<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Wall Dashboard</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <h3>Welcome back to the wall, (* add name *)</h3>
        <h4><a href="/logout"></a>Logout</h4>

        <h3>Post a message</h3>
        <form class="" action="addMessage" method="post">
          <textarea name="textarea" rows="8" cols="80"></textarea>
          <input type="submit" name="" value="Post a Message">
        </form>

        <ul>
          <li>(* add posts and comments section *)</li>
          <form class="" action="addComment" method="post">
            <input type="submit" name="" value="Post a Comment">
          </form>
        </ul>

      </div>
    </div>
  </body>
</html>
