<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Wall Dashboard</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <h3>Welcome back to the wall, (* add name *)</h3>
        <h4><a href="/logout"></a>Logout</h4>

        <h3>Post a message</h3>
        <form class="" action="addMessage" method="post">
              {% csrf_token %}
          <textarea name="message" rows="8" cols="80"></textarea>
          <input type="submit" name="" value="Post a Message">
        </form>

        <ul>

          {# {% for message in messages %}
          <li> {{message.message}} </li>
          {% endfor %} #}

          <form class="" action="addComment" method="post">
                {% csrf_token %}
            <textarea name="comment" rows="2" cols="50"></textarea>
            <input type="submit" name="" value="Post a Comment">
          </form>
        </ul>

      </div>
    </div>
  </body>
</html>
