<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Survey Form</title>
</head>
<body>
	<h2>Submitted Information</h2>
	<ul>
		<li>Name: <strong><%= survey.name %></strong></li>
		<li>Dojo Location: <strong><%= survey.dojo_location %></strong></li>
		<li>Favorite Language: <strong><%= survey.favorite_language %></strong></li>
		<li>Comment: <strong><%= survey.comment %></strong></li>
	</ul>
	<a href="/"><h3>Back</h3></a>
</body>
</html>
