.wrapper {
    width: 900px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
}

.catagory {
    margin: 0px;
    text-align: center;
    color: green;
}

.farm {
    padding: 10px;
    display: inline-block;
    width: 200px;
    border: 1px solid red;
}

.cave {
    padding: 10px;
    display: inline-block;
    width: 200px;
    border: 1px solid red;
}

.house {
    padding: 10px;
    display: inline-block;
    width: 200px;
    border: 1px solid red;
}

.casino {
    padding: 10px;
    display: inline-block;
    width: 200px;
    border: 1px solid red;
}

.totalgold {
    color: gold;
}

.submit {
    color: gold;
}
.reset{
    text-align: center;
}
.activity{
    text-align: center;
    display: inline-block;
    height:150px;
    width:300px;
    overflow:auto;
    border:8px solid yellowgreen;
    padding:2%;
}
.activities{
    display: inline-block;
    position: relative;
    left: 290px;

}
.activities h3 {
  font-size: 30px;
  text-align: center;
}
