<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Integrates#delete</h1>
    <p>Find me in app/views/integrates/delete.html.erb</p>

  </body>
</html>
