<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title><h1>Integrates#update</h1>
    <p>Find me in app/views/integrates/update.html.erb</p>

  </head>
  <body>

  </body>
</html>
