<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Disappearing Ninjas Main Page</title>
  </head>
  <body>
    <h3>No ninjas here.</h3>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ninjas">All Ninjas</a></li>
        <li><a href="/ninjas/blue">Leonardo = Blue</a></li>
        <li><a href="/ninjas/red">Raphael = Red</a></li>
        <li><a href="/ninjas/orange">Michelangelo = Orange</a></li>
        <li><a href="/ninjas/other">April</a></li>
    </ul>
  </body>
</html>
