<h2>Register New Account</h2>
<form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Name: <input type="text" name="name" value=""></p>
    <p>Email: <input type="text" name="email" value=""></p>
    <p>Password: <input type="text" name="password" value=""></p>
    <p>Password Confirmation: <input type="text" name="password_confirmation" value=""></p>
    <input type="submit" name="" value="Register">
</form>
